@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face{
	font-family: MyFont;
	src: url('fonts/Uni.otf');
}

@font-face{
	font-family: Arkit;
	src: url('fonts/Arkit-SemiBold.ttf');
}
@font-face{
	font-family: Marcher;
	src: url('fonts/Marcher-Bold.ttf');
}
@font-face{
	font-family: Radiate;
	src: url('fonts/Radiate-Sans-Bold.ttf');
}
@font-face {
	font-family: Radiate-Bold;
	src: url('fonts/Radiate-Sans-Extra-Bold-Italic.ttf');
}